//text size
$fontSizeBig: 21px;
$fontSizeMid: 18px;
$fontSizeNormal: 16px;
$fontSizeSmall: 12px;

//title font size
$titleFontSizeBig: 32px;
$titleFontSizeMid: 26px;
$titleFontSizeNormal: 24px;
$titlefontSizeSmall: 21px;

//color
$fontColorBasic: #666666;
$fontColorPrimary: #b8944d;
$fontColorHover: #e3a936;

//layout background
$layoutBg: #fff3c4;

//border color
$borderColorPrimary: #b8944d;
$borderColorDark: #997939;

//button color
$gbtnColor: #b8944d;
$gbtnColorHover: #e3a936;

//table color
$tableColorPrimary: #b8944d;
