//component
.box{
  display: flex;
  .items{
    box-sizing: border-box;
    padding: 50px;
    flex: 100%;
    flex-shrink: 0;
    font-size: $fontSizeMid;
    .title{
      font-size: $titleFontSizeMid;
    }
    img{
      width: 100%;
    }
  }
  &.items_2{// items가 두개 일때
    .items{
      flex: 50%;
    }
  }
  &.expand{// 좌우 padding 삭제
    .items{
      padding: 50px 0;
    }
  }
}

//general button
.gbtn{
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: $gbtnColor;
  color: white;
  border: 1px solid $borderColorPrimary;
  &:hover{
    background: white;
    color: $gbtnColor;
  }
}
